<ion-view style="background: #f7f7f7">
    <div class="bar bar-header item-button-left bar-stable" style="border-bottom: 1px solid #ddd">
        <a href="#/tab/user" class="button button-small ion-chevron-left button"></a>
        <h1 class="title">修改密码</h1>
    </div>
    <div class="scroll-content has-footer has-header index-content">
        <div class="list padding-vertical">
            <div class="item item-input item-stacked-label item-light" style="margin-top: 10px">
                <p>原始密码</p>
                <input type="password" placeholder="请输入原始密码">
            </div>
            <div class="item item-input item-stacked-label item-light" style="margin-top: 10px">
                <p>新密码</p>
                <input type="password" placeholder="请输入新密码">
            </div>
            <div class="item item-input item-stacked-label item-light" style="margin-top: 10px">
                <p>确认密码</p>
                <input type="password" placeholder="请重复输入新密码">
            </div>
            <div class="item item-borderless button-bar item-stable" style="margin-top: 20px;">
                <button class="button button-assertive button-small">保存</button>
            </div>
        </div>
    </div>
</ion-view>