<ion-view style="background: #f7f7f7">
    <div class="bar bar-header item-button-left bar-stable">
        <a href="#/tab/user" class="button button-small ion-chevron-left button"></a>
        <h1 class="title">我的订单</h1>
    </div>
    <div class="scroll-content has-footer has-header index-content">
        <div class="button-bar">
            <button class="button button-small " ng-class="{'button-assertive':orderType==0}">全部订单</button>
            <button class="button button-small " ng-class="{'button-assertive':orderType==1}">待付款</button>
            <button class="button button-small " ng-class="{'button-assertive':orderType==2}">待收货</button>
        </div>
        <div class="list row-no-padding padding-horizontal" style="background: #f7f7f7">
            <div class="item row-no-padding card">
                <p style="font-size: 0.8rem; padding: 10px">编号:32113312<span style="float: right; color: #ff0000">待付款</span></p>
                <div class="list row-no-padding padding-horizontal" style="margin-bottom: 10px">
                    <div class="item item-thumbnail-left item-text-wrap" style="background: #f7f7f7">
                        <img src="upload/product.png">
                        <h6>新鲜冬草莓双流巧克力草莓新鲜冬草莓双流巧克力草莓</h6>
                        <p class="text-center my-item-price" style="font-size: 0.8rem; text-align: left; margin-top: 10px">￥<span>49.8</span>元</p>
                        <p style="font-size: 0.7rem">数量:x1</p>
                    </div>
                    <div class="item item-thumbnail-left item-text-wrap" style="background: #f7f7f7">
                        <img src="upload/product.png">
                        <h6>新鲜冬草莓双流巧克力草莓新鲜冬草莓双流巧克力草莓</h6>
                        <p class="text-center my-item-price" style="font-size: 0.8rem; text-align: left; margin-top: 10px">￥<span>49.8</span>元</p>
                        <p style="font-size: 0.7rem">数量:x1</p>
                    </div>
                    <div class="item row-no-padding">
                        <p style="font-size: 0.8rem; padding: 5px 0;">总额: 99.6 元</p>
                    </div>
                    <div class="item row-no-padding">
                        <button class="button button-positive button-xs" style="float: right; margin-top: 10px">取消订单</button>
                        <button class="button button-assertive button-xs" style="float: right; margin-top: 10px; margin-right: 10px">去付款</button>
                    </div>
                </div>
            </div>
            <div class="item row-no-padding card">
                <p style="font-size: 0.8rem; padding: 10px">编号:32113312<span style="float: right; color: #ff0000">待付款</span></p>
                <div class="list row-no-padding padding-horizontal" style="margin-bottom: 10px">
                    <div class="item item-thumbnail-left item-text-wrap" style="background: #f7f7f7">
                        <img src="upload/product.png">
                        <h6>新鲜冬草莓双流巧克力草莓新鲜冬草莓双流巧克力草莓</h6>
                        <p class="text-center my-item-price" style="font-size: 0.8rem; text-align: left; margin-top: 10px">￥<span>49.8</span>元</p>
                        <p style="font-size: 0.7rem">数量:x1</p>
                    </div>
                    <div class="item item-thumbnail-left item-text-wrap" style="background: #f7f7f7">
                        <img src="upload/product.png">
                        <h6>新鲜冬草莓双流巧克力草莓新鲜冬草莓双流巧克力草莓</h6>
                        <p class="text-center my-item-price" style="font-size: 0.8rem; text-align: left; margin-top: 10px">￥<span>49.8</span>元</p>
                        <p style="font-size: 0.7rem">数量:x1</p>
                    </div>
                    <div class="item row-no-padding">
                        <p style="font-size: 0.8rem; padding: 5px 0;">总额: 99.6 元</p>
                    </div>
                    <div class="item row-no-padding">
                        <button class="button button-positive button-xs" style="float: right; margin-top: 10px">取消订单</button>
                        <button class="button button-assertive button-xs" style="float: right; margin-top: 10px; margin-right: 10px">去付款</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-view>