<ion-view style="background: #f7f7f7">
    <div class="bar bar-header item-button-left bar-stable" style="border-bottom: 1px solid #ddd">
        <a href="#/tab/user" class="button button-small ion-chevron-left button"></a>
        <h1 class="title">收货地址</h1>
    </div>
    <div class="scroll-content has-footer has-header index-content">
        <div class="list" style="margin-bottom: 0">
            <div class="item card item-text-wrap row-no-padding " ng-repeat="item in addrList">
                <div class="row" style="border-bottom: 1px solid #ddd">
                    <div class="col-10" style="vertical-align: middle">
                        <p style="font-size: 0.7rem; color: #ff0000" ng-show="item.isdefault==1">[默认地址]</p>
                    </div>
                    <div class="col" style="padding-left: 10px">
                        <p style="font-size: 0.7rem">{{item.name}}&nbsp;&nbsp;&nbsp;&nbsp;{{item.tel}}</p>
                        <p style="font-size: 0.7rem">{{item.province+item.city+item.area+item.address}}</p>
                    </div>
                </div>
                <div class="button-bar button-bar-inline padding-vertical padding-horizontal">
                    <button class="button button-small button-positive" style="float: right;" ng-click="del('{{item.id}}')">删除</button>
                    <a ng-href="#/tab/address/{{item.id}}" class="button button-small button-assertive" style="float: right; margin-right: 10px;">编辑</a>
                </div>
            </div>
            <!--<div class="item card item-text-wrap row-no-padding ">-->
                <!--<div class="row" style="border-bottom: 1px solid #ddd">-->
                    <!--<div class="col-10" style="vertical-align: middle">-->
                        <!--<p style="font-size: 0.7rem; color: #ff0000">[默认地址]</p>-->
                    <!--</div>-->
                    <!--<div class="col" style="padding-left: 10px">-->
                        <!--<p style="font-size: 0.7rem">王武&nbsp;&nbsp;&nbsp;&nbsp;15011111111</p>-->
                        <!--<p style="font-size: 0.7rem">衢州市柯城区荷花四路裕丰花园50撞2单元301室</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="button-bar button-bar-inline padding-vertical padding-horizontal">-->
                    <!--<button class="button button-small button-positive" style="float: right;">删除</button>-->
                    <!--<a ng-href="#/tab/address/1" class="button button-small button-assertive" style="float: right; margin-right: 10px;">编辑</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="item card item-text-wrap row-no-padding ">-->
                <!--<div class="row" style="border-bottom: 1px solid #ddd">-->
                    <!--<div class="col-10" style="vertical-align: middle">-->
                    <!--</div>-->
                    <!--<div class="col" style="padding-left: 10px">-->
                        <!--<p style="font-size: 0.7rem">王武&nbsp;&nbsp;&nbsp;&nbsp;15011111111</p>-->
                        <!--<p style="font-size: 0.7rem">衢州市柯城区荷花四路裕丰花园50撞2单元301室</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="button-bar button-bar-inline padding-vertical padding-horizontal">-->
                    <!--<button class="button button-small button-positive" style="float: right;">删除</button>-->
                    <!--<a ng-href="#/tab/address/1" class="button button-small button-assertive" style="float: right; margin-right: 10px;">编辑</a>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="button-bar row-no-padding padding-horizontal">
            <a ng-href="#/tab/address/0" class="button button-assertive button-small">新增收货地址</a>
        </div>
    </div>
</ion-view>